
input[type=text], select {
  width: auto;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 90%;
  background-color: rgba(255, 38, 0, 0.909);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}
body {
  align-content: center;
}
.button-container {
  text-align: center; /* Esto centrará horizontalmente el contenido */
}
.button-container_1{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}
form {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="file"], input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.user-message, .assistant-message {
  margin: 10px 0;
}
.user-message strong, .assistant-message strong {
  display: block;
  margin-bottom: 5px;
}
.assistant-message {
  background-color: #cce5ff;
  color: #004085;
}
.button-container {
  text-align: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}